{% extends "layout.html" %}
{% block title %}{{ super() }} - Quiz{% endblock %}
{% block content %}
    <h1 class="text-center">Quiz</h1> 
    <hr>
    <h2 class="mb-5 text-center">{{question}}</h2>
    <form method="POST" action="{{ url_for('quizQ') }}">
        <div class="row">
            {% for jeux in datas %}
            <div class="col-12 col-md-6 col-xl-3 text-center">
                <div class="card mb-4 mx-auto" style="width: 75%;">
                    <hr class="py-0 my-0">
                    <div class="card-body pt-2">
                        <h5 class="card-title">{{jeux}}</h5>
                        <button type="submit" name="select" value="{{jeux, tab_question}}" class="btn btn-primary btn-xs">Valider</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}